* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  font-size: 16px;
}


html{
  font-size: 100px;
}

#app {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  overflow: hidden;
}