:root {
  --background-color: #f4f5f7;
  --text-color: #333333;
  --text-color-secondary: #666666;
  --primary-color: #42b983;

  --spotlight-color:rgba(0, 200, 7, 0.3);
  --header-bg-color: #ffffff;
  --card-bg-color: #ffffff;
  --card-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  // 代码高亮颜色
  --hljs-background: #fafafa;
  --hljs-text: #383a42;
  --hljs-comment: #a0a1a7;
  --hljs-keyword: #a626a4;
  --hljs-string: #50a14f;
  --hljs-number: #d19a66;
  --hljs-function: #4078f2;
  --hljs-class: #c18401;
  --hljs-tag: #e45649;
  --hljs-attribute: #986801;

  // 滚动条
  --scrollbar-track-color: rgba(0, 0, 0, 0.05);
  --scrollbar-thumb-color: rgba(255, 255, 255, 0.966);
  --scrollbar-thumb-hover-color: rgba(66, 185, 131, 0.5);
}

html.dark {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --text-color-secondary: #a0a0a0;
  --primary-color: #00c6ff;

  --spotlight-color:rgba(0, 120, 200, 0.3);
  --header-bg-color: #1e1e1e;
  --card-bg-color: #1e1e1e;
  --card-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

  // 代码高亮颜色
  --hljs-background: #282c34;
  --hljs-text: #abb2bf;
  --hljs-comment: #5c6370;
  --hljs-keyword: #c678dd;
  --hljs-string: #98c379;
  --hljs-number: #d19a66;
  --hljs-function: #61afef;
  --hljs-class: #e5c07b;
  --hljs-tag: #e06c75;
  --hljs-attribute: #d19a66;

  --scrollbar-track-color: rgba(255, 255, 255, 0.1);
  --scrollbar-thumb-color: rgba(0, 198, 255, 0.3);
  --scrollbar-thumb-hover-color: rgba(0, 198, 255, 0.5);
}

/* 全局过渡效果 */
body, #app {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
